<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.onepage.mybatis.mapper.PhoneMapper" >

 <select id="finaAll" resultType="phone" databaseId="oracle">
	SELECT * FROM phone
</select> 
<select id="finaAll" resultType="phone" databaseId="mysql">
	SELECT * FROM phone where id=2
</select>  
<insert id="insert" parameterType="phone" databaseId="mysql">
	INSERT INTO phone(name,type,year,time) VALUES(#{name},#{type},#{year},#{time});
</insert>
</mapper>


